@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(60% + 0.8vmin);
}
  
  * {
    font-size: 1rem;
    box-sizing: border-box;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: orange;
  }
  
  p {
    font-size: 1rem;
  }
  
  small {
    font-size: 1.2rem;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
  }
